.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 500px;
}
.card {
  display: grid;
  place-content: center;
  padding: 2em 1em;
}
.city-header {
  font-size: 2rem;
  text-align: center;
}
.condition-text {
  font-size: 0.875rem;
  font-weight: var(--fw-bold);
}
.condition-box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}
.condition-icon {
  width: 50px;
}
.col {
  display: grid;
  row-gap: 0.5em;
}
.temp {
  text-align: center;
  font-size: 2rem;
  margin: 1em 0em;
}
.weather-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 0.5em;
}

.sm-text {
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  @media screen and (min-width: 700px) {
    font-size: 1rem;
  }
}
.detail-icon {
  width: 35px;
}
.col-group {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.country {
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: 0.775rem;
}
.loader-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  h1 {
    font-size: 2rem;
    text-align: center;
  }
}
